# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.exe
*.test
*.prof
debug

# Folders
_obj
_test

# Architecture specific extensions/prefixes
_testmain.go

# Editor swap files
*.swp
*~
.DS_Store

# Compiled exe
/prometheus-eventhubs-adapter*
!prometheus-eventhubs-adapter.toml

# Editor settings
/.vscode
/.idea
.env
*.code-workspace

# ignore vendor/
vendor/
